<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- bmr form -->
<form method="post" action="/bmr_handler/">
    <label for="weight">Weight</label>
    <input type="text" id="weight" name="weight" placeholder="Weight in pounds">
    <label for="height">Height</label>
    <input type="text" id="height" name="height" placeholder="Height in inches">
    <label for="age">Age</label>
    <input type="text" id="age" name="age" placeholder="Age in years">
    <!-- submit button -->
    <input type="submit" value="Calculate">
</form>
</body>
</html>