{% extends "bmr/base.html" %}
{% load crispy_forms_tags %}
{% block title %}
    BMR |
{% endblock %}
{% block js_scripts %}
    <script>
    </script>
{% endblock %}
{% block content %}
    {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Greetings {{ user.first_name }},</strong> Login Successful
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    <div class="alert alert-light alert-dismissible fade show" role="alert">
        <strong>Instructions</strong>
        <ul class="list-group">
            <li class="list-group-item list-group-item-warning">Weight should be in Kgs</li>
            <li class="list-group-item list-group-item-warning my-1">Height should be in Cms</li>
        </ul>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="row">
        <div class="col">
            <h3>Calculate BMR</h3>
            <form action="" method="post">
                {% csrf_token %}
                {{ form| crispy }}
                <button type="submit" class="btn btn-primary my-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
                    </svg>
                </button>
            </form>
        </div>
    </div>
{% endblock %}