{% extends "bmr/base.html" %}
{% load crispy_forms_tags %}
{% block title %}
    BMR |
{% endblock %}
{% block js_scripts %}
    <script>
    </script>
{% endblock %}
{% block content %}
    {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Greetings {{ user.first_name }},</strong> Login Successful
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}

    <h3>Welcome {{ user.first_name }} {{ user.last_name }}</h3>
    <div class="alert alert-light alert-dismissible fade show" role="alert">
        <strong>Instructions</strong>
        <ul class="list-group">
            <li class="list-group-item list-group-item-warning">Weight should be in Kgs</li>
            <li class="list-group-item list-group-item-warning">Height should be in Cms</li>
        </ul>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="w-25">
        <form action="" method="post">
            {% csrf_token %}
            {{ form| crispy }}
            <button type="submit" class="btn btn-primary my-1">Calculate BMR</button>
        </form>
    </div>
    <div>
        <h3>Your Last Updated BMR</h3>
        {% if bmr_details %}
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">BMR</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody>
                {% for bmr_detail in bmr_details %}
                    <tr>
                        <td>{{ bmr_detail.bmr }}</td>
                        <td><a class="btn btn-danger" href="/delete_bmr/{{ bmr_detail.id }}"
                               role="button">Delete</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="alert alert-warning w-25" role="alert">
                No Record Found
            </div>
        {% endif %}
    </div>
{% endblock %}