{% extends "bmr/base.html" %}
{% load crispy_forms_tags %}
{% block title %}
    Calories Detail |
{% endblock %}
{% block js_scripts %}
    <script>
        // future date restrict feature from stack overflow
        $(function () {
            let dtToday = new Date();
            let month = dtToday.getMonth() + 1;
            let day = dtToday.getDate();
            let year = dtToday.getFullYear();
            if (month < 10) {
                month = '0' + month.toString();
            }
            if (day < 10) {
                day = '0' + day.toString();
            }
            let maxDate = year + '-' + month + '-' + day;
            $('#selected_date').attr('max', maxDate);
        });
    </script>
{% endblock %}
{% block content %}
    {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    <h3>Past Record</h3>
    <!-- Date Picker -->
    <form method="post" action="">
        <div class="form-group w-25">
            <label for="selected_date">Enter Date to Search</label>
            <input type="date" class="form-control" id="selected_date" name="selected_date">
        </div>
        <button type="submit" class="btn btn-primary" name="selected_date_btn">Search</button>
    </form>
    <form action="" method="post">
        <div class="form-group w-25">
            <label for="selected_month">Enter Month to Search</label>
            <input type="month" class="form-control" id="selected_month" name="selected_month">
        </div>
        <button type="submit" class="btn btn-primary" name="selected_month_btn">Search</button>
    </form>
    <!-- items iteration -->
    {% if items %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Item Name</th>
                <th scope="col">Calories</th>
                <th scope="col">Meal Type</th>
                <th scope="col">Date</th>
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.item_name }}</td>
                    <td>{{ item.calories }}</td>
                    <td>{{ item.meal_type }}</td>
                    <td>{{ item.date_added }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% elif not items and request.method == "POST" %}
        <div class="alert alert-warning my-1" role="alert">
            No record found for the selected date, Kindly add calories by <a href="{% url 'addfooditem' %}"
                                                                             class="alert-link">Clicking
            here</a>
        </div>
    {% endif %}
{% endblock %}