{% extends "bmr/base.html" %}
{% load crispy_forms_tags %}
{% block title %}
    Calories Graph |
{% endblock %}
{% block js_scripts %}
    <script>

    </script>
{% endblock %}
{% block content %}
    {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    <h1>Graph</h1>

{% endblock %}