{% extends "bmr/base.html" %}
{% load crispy_forms_tags %}
{% block title %}
    Calories Graph |
{% endblock %}
{% block js_scripts %}

{% endblock %}
{% block content %}

    {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}

    <h1>Graph</h1>

    {% if request.method == "POST" %}
        <div class="w-50">
            <canvas id="myChart" width="400" height="400"></canvas>
        </div>
    {% endif %}

    <script>
        const january_calories =
        {{ january_calories }}
        const labels = [
            'January',
            'February',
            'March',
            'April',
            'May',
            'June',
            'July',
        ];

        const data = {
            labels: labels,
            datasets: [{
                label: 'Calories Report',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: [january_calories, 10, 5, 2, 20, 30, 45],
            }]
        };

        const config = {
            type: 'bar',
            data: data,
            options: {}
        };
    </script>
    <script>
        const myChart = new Chart(
            document.getElementById('myChart'),
            config
        );
    </script>
{% endblock %}