{% extends "bmr/base.html" %}
{% load crispy_forms_tags %}
{% block title %}
    Login |
{% endblock %}
{% block content %}
    <style>
    #loading_div{
        display: none;
    }
    </style>
    <h3>Login</h3>
    {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}


    <form method="POST" class="form-group" action="" id="login_form" name="login_form">
        {% csrf_token %}
        {{ form|crispy }}
        <div>
            <button type="submit" class="btn btn-success my-1" id="login_button">Login</button>
        </div>
        <div class="spinner-border text-primary" role="status" id="loading_div">
            <span class="visually-hidden">Loading...</span>
        </div>
    </form>
    <strong>Don't have an account? </strong><a href="{% url 'signup' %}" class="link-primary">Register Here</a>
    <script>
        $(document).ready(function () {
            // prevent submission of login_form
            $('#login_button').click(function (e) {
                // prevent form submission
                //e.preventDefault();
                $('#loading_div').show();
                $('#login_button').prop('disabled', true);
                // timer for loading spinner
                setTimeout(function () {
                    $('#login_form').submit();
                }, 500);
                console.log('login_form submitted');
            });
        });
    </script>
{% endblock %}