{% extends "bmr/base.html" %}
{% load crispy_forms_tags %}
{% block title %}
    Register |
{% endblock %}
{% block content %}
    <h3>Registration</h3>
    {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    <form method="POST" class="form-group" action="">
            {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Register</button>
    </form>
    <strong>Already have an account?</strong>
    <a href="{% url 'sign_in' %}" class="link-primary">Login Here</a>
{% endblock %}